<%= form_with(model: skilled_professional_profile) do |form| %>
  <% if skilled_professional_profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(skilled_professional_profile.errors.count, "error") %> prohibited this skilled_professional_profile from being saved:</h2>

      <ul>
        <% skilled_professional_profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :skill_type, style: "display: block" %>
    <%= form.text_field :skill_type %>
  </div>

  <div>
    <%= form.label :experience, style: "display: block" %>
    <%= form.textarea :experience %>
  </div>

  <div>
    <%= form.label :portfolio_url, style: "display: block" %>
    <%= form.text_field :portfolio_url %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
