<div id="<%= dom_id skilled_professional_profile %>">
  <p>
    <strong>User:</strong>
    <%= skilled_professional_profile.user_id %>
  </p>

  <p>
    <strong>Skill type:</strong>
    <%= skilled_professional_profile.skill_type %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= skilled_professional_profile.experience %>
  </p>

  <p>
    <strong>Portfolio url:</strong>
    <%= skilled_professional_profile.portfolio_url %>
  </p>

</div>
